
        i
        {
        position: absolute;
        width: 40px;
        height: 40px;
        left: 0;
        bottom: 0;
        border-color: rgba(166, 209, 166, 0.858);
        border-radius: 17px;
        border-width: 0.1em;
        border-style: solid;
        background: #31f6a12d;
        animation: move 2s infinite;
        
        }
    @keyframes move 
        {
            from {left: 495px; bottom: 473px;}
            to  {left: 675px; bottom: 473px;} 
        }
        .ease i { 
            animation-timing-function: cubic-bezier(.8,1.5,.2,-1); 
            animation-direction: alternate-reverse;
            transition: 10s; 
                }
                .steps i { 
  animation-timing-function: steps(10,end);
  
}

form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; 
    cursor: pointer;
  }
form.example button {
  float: left;
  width: 10%;
  padding: 8px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; 
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

.steps:after { 
  content: "steps(10,end)";;
}
i:nth-child(2) {animation-delay:.1s;}
i:nth-child(3) {animation-delay:.2s;}
i:nth-child(4) {animation-delay:.4s;}
i:hover{animation-play-state: paused}
                
    .startH
        {
            color: darkseagreen;
            text-align: center;
            font-size: 2.5em;
        }
    body
        {
            background-image: url( https://upload.wikimedia.org/wikipedia/commons/4/46/Micro-Beads_%285344850282%29.jpg);
            background-size: 100%;
            font-family: cursive;
                
        }
    
    .divbody 
        {
                background-color: black;
                opacity: 65%;
                border-style: solid;
                border-color: white;
                border-width: 0.18em;
                border-radius: 50px;
                font-family: cursive;
        }
    .range 
        {
                background-color: black;
                opacity: 65%;
                border-style: solid;
                border-color: white;
                border-width: 0.18rem;
                border-radius: 25px;
                font-family: cursive;
                font-size: 2.5em;
                text-align: center;
                padding-bottom: 0.2em;
                color: darkseagreen;
                margin-top: 1em;
               
        }
    #Inst
        {
                font-size: 2em;
                color: darkseagreen;
                padding-left: 1.7em;
        }
        
    
                
        
    p   
        {
            margin: 0.35em;
        }
        
    #hH
        {
            margin-left: 0.5em; 
            margin-bottom: 0.5em;
        }

    a   {
  text-decoration: none; color: darkseagreen;
        }

    a:hover {
  text-decoration: underline; color: gold;  transition: 0.3s ease-in-out;
        }

    #logo1 {
    float: left;
    padding: -50% 0 -50% 0;
    
    
    }

    .kbd {font-size: 1em;display:inline-block;line-height:1.1;}


.one, .two {
  background: none;
}
.one:hover {
-o-transform: translateX(30px);
-ms-transform: translateX(30px);
-moz-transform: translateX(30px);
-webkit-transform: translateX(30px);
transform: translateX(130px);
-o-transition: all 1s ease-in-out;
-moz-transition: all 1s ease-in-out;
-webkit-transition: all 1s ease-in-out;
transition: all 1s ease-in-out;


}
.two:hover {
-o-transform: scaleY(1.2);
-ms-transform: scaleY(1.2);
-moz-transform: scaleY(1.2);
-webkit-transform: scaleY(1.2);
transform: scaleY(1.2);
-o-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-webkit-transition: all 1s ease-in-out;
transition: all 1s ease-in-out;

}
.content {
     display: flex;
     flex-wrap: wrap;
  }
  .aside, .main {
     width: 100%;
     min-height: 1px;
  }
  
@media (min-width: 4000px) {


.rside {
text-align: center; font-size: 1.6em; color: white;
background-color: black;
opacity: 65%;
border-style: solid;
border-color: white;
border-width: 0.18rem;
border-radius: 3em;
font-family: cursive;
flex: 0 0 65%;
max-width: 65%;

}

.lside
        {
                font-size: 2em;
                margin-top: 0.35em;
                margin-bottom: 1em;                
                flex: 0 0 75%;
                max-width: 75%;
            }
}
@media print {
	html, body{
		height: 297mm;
		width: 210mm;
	}
}
   
    